

  .input:focus{
    outline: solid;
    outline-color: #84CAFF;
    outline-width: 0.7px;
  }
  .rm-ou{
    outline:none
  }
  input[type=checkbox]:checked{
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6668 3.5L5.25016 9.91667L2.3335 7' stroke='%231570EF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    border-color: #84CAFF !important;
}
.name-box{
  width: 48%;
}
.name-group{
  justify-content: space-between;
}

@media only screen and (max-width: 900px){
  .name-box{
    display: block;
  }
  .name-group{
    flex-direction: column;
  }
}